*, *:after, *:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Open Sans', sans-serif;
}


a {
  text-decoration: none;
  color: #2aa2ff;
}

.App {
  text-align: center;
  background-color: #f0f0f0;
  padding: 2rem 3rem;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

/* TABLE STYLES */

.table-wrapper {
  width: 95%;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 7px 1px rgba(0, 0, 0, 0.1);
}

.table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  text-align: left;
  font-size: 1.2rem;
}

.thead {
  font-size: 1.3rem;
  line-height: 3rem;
}

.thead__col {
  font-weight: 600;
  padding: .7rem .7rem;
  width: 16%;
  
}

.thead__row {
  background-color: rgb(240, 240, 240);
  font-weight: 600;
}

.thead__cell-image {
  width: 7rem;
  text-align: center;
}

.thead__cell-nation {
  text-align: right;
}

/* CELLS STYLES */

.tbody__cell {
  border-bottom: 1px solid  rgb(240, 240, 240);
  white-space: pre-wrap;
  padding: .7em .7rem;
}

/* CELL IMAGE */

.tbody__cell-image {
  width: 70px;
  /* display: flex; */
}

.cell-image {
  width: 3.5rem;
  display: block;
  margin: 0 auto;
  border-radius: 50%;
}

.tbody__cell-nation {
  text-align: right;
}

.cell-nation {
  display: inline-block;
  padding: 1px 5px;
  background-color: rgb(250, 234, 239);
  border-radius: 3px;
  font-weight: 600;
  border: 1px solid #cc416f;
  color: rgb(204, 65, 111)
}